<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="INSTALLFOLDER">
			<Directory Id="dir56e2b189960e4105b20c9704974f0882" Name="runtimes" />
		</DirectoryRef>
	</Fragment>
	<Fragment>
		<DirectoryRef Id="dir56e2b189960e4105b20c9704974f0882">
			<Directory Id="dir725ce34ce5fe49bdaea621b0623858cf" Name="unix" />
		</DirectoryRef>
	</Fragment>
	<Fragment>
		<DirectoryRef Id="dir725ce34ce5fe49bdaea621b0623858cf">
			<Directory Id="dir1f10d40474a44c84bb56d823539f2413" Name="lib" />
		</DirectoryRef>
	</Fragment>
	<Fragment>
		<DirectoryRef Id="dir1f10d40474a44c84bb56d823539f2413">
			<Directory Id="dira934eb4022884a20baf0ecb74f88b4cc" Name="netcoreapp3.0" />
		</DirectoryRef>
	</Fragment>
	<Fragment>
		<DirectoryRef Id="dir56e2b189960e4105b20c9704974f0882">
			<Directory Id="dir3f2512d707a14d72b33e17e777894e90" Name="win" />
		</DirectoryRef>
	</Fragment>
	<Fragment>
		<DirectoryRef Id="dir3f2512d707a14d72b33e17e777894e90">
			<Directory Id="dira73a016d667b462d9c6df47c5681f93b" Name="lib" />
		</DirectoryRef>
	</Fragment>
	<Fragment>
		<DirectoryRef Id="dira73a016d667b462d9c6df47c5681f93b">
			<Directory Id="dir5516562ca0064ef5b7a68f5d13fdbfc1" Name="netcoreapp2.0" />
		</DirectoryRef>
	</Fragment>
	<Fragment>
		<DirectoryRef Id="dira73a016d667b462d9c6df47c5681f93b">
			<Directory Id="dir3e275448e8cf409c871be81a9513a5ff" Name="netcoreapp3.0" />
		</DirectoryRef>
	</Fragment>
	<Fragment>
		<DirectoryRef Id="dira73a016d667b462d9c6df47c5681f93b">
			<Directory Id="dir87d0901f95b3424580d021aac2b4feb9" Name="net5.0" />
		</DirectoryRef>
	</Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents">
			<Component Id="cmpa32d9dec913f4ec29d449d48f5ac88b2" Directory="dira934eb4022884a20baf0ecb74f88b4cc" Guid="*">
				<File Id="Artifacts_runtimes_unix_lib_netcoreapp3.0_System.Drawing.Common.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\runtimes\unix\lib\netcoreapp3.0\System.Drawing.Common.dll" />
			</Component>
			<Component Id="cmpf1b82b5ad01f431baf74f61798575616" Directory="dir5516562ca0064ef5b7a68f5d13fdbfc1" Guid="*">
				<File Id="Artifacts_runtimes_win_lib_netcoreapp2.0_System.Diagnostics.EventLog.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\runtimes\win\lib\netcoreapp2.0\System.Diagnostics.EventLog.dll" />
			</Component>
			<Component Id="cmpd3bc00ac37c8452d8f94d5f3b7833db3" Directory="dir3e275448e8cf409c871be81a9513a5ff" Guid="*">
				<File Id="Artifacts_runtimes_win_lib_netcoreapp3.0_Microsoft.Win32.SystemEvents.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\runtimes\win\lib\netcoreapp3.0\Microsoft.Win32.SystemEvents.dll" />
			</Component>
			<Component Id="cmpa2e86b65f46e4bdaa9ce7d779eb0f985" Directory="dir3e275448e8cf409c871be81a9513a5ff" Guid="*">
				<File Id="Artifacts_runtimes_win_lib_netcoreapp3.0_System.Drawing.Common.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\runtimes\win\lib\netcoreapp3.0\System.Drawing.Common.dll" />
			</Component>
			<Component Id="cmp7ce21f0430ac4418af55cfe319bb7b9e" Directory="dir3e275448e8cf409c871be81a9513a5ff" Guid="*">
				<File Id="Artifacts_runtimes_win_lib_netcoreapp3.0_System.Windows.Extensions.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\runtimes\win\lib\netcoreapp3.0\System.Windows.Extensions.dll" />
			</Component>
			<Component Id="cmp939e9ef1c3fc4b07a3316c5266a0d47c" Directory="dir87d0901f95b3424580d021aac2b4feb9" Guid="*">
				<File Id="Artifacts_runtimes_win_lib_net5.0_System.Security.Cryptography.ProtectedData.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\runtimes\win\lib\net5.0\System.Security.Cryptography.ProtectedData.dll" />
			</Component>
			<Component Id="cmp1c0f21cd53934f808489fee3152a15e4" Directory="dir87d0901f95b3424580d021aac2b4feb9" Guid="*">
				<File Id="Artifacts_runtimes_win_lib_net5.0_System.ServiceProcess.ServiceController.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\runtimes\win\lib\net5.0\System.ServiceProcess.ServiceController.dll" />
			</Component>
			<Component Id="cmp1dc55175a80b4f709174353c0239eed2" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_BabylonTools.XMap.deps.json" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\BabylonTools.XMap.deps.json" />
			</Component>
			<Component Id="cmpea38ba03da914f75b0a97b65d2a45159" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_BabylonTools.XMap.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\BabylonTools.XMap.dll" />
			</Component>
			<Component Id="cmp73347bec8e674db0a2d61a206250b903" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_BabylonTools.XMap.dll.config" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\BabylonTools.XMap.dll.config" />
			</Component>
			<Component Id="cmpfd272dddc6ba47e69d60bfb6ad99c960" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_BabylonTools.XMap.exe" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\BabylonTools.XMap.exe" />
			</Component>
			<Component Id="cmp3887dcf4ee5a4d758ea0769385fa3e62" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_BabylonTools.XMap.pdb" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\BabylonTools.XMap.pdb" />
			</Component>
			<Component Id="cmpcd4289d0d4264370b59a3268503d9d83" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_BabylonTools.XMap.runtimeconfig.dev.json" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\BabylonTools.XMap.runtimeconfig.dev.json" />
			</Component>
			<Component Id="cmp20d262811a62461bae6261d533a0edff" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_BabylonTools.XMap.runtimeconfig.json" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\BabylonTools.XMap.runtimeconfig.json" />
			</Component>
			<Component Id="cmpb0c1b1c4d16a43ffa363ca421d2d2783" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_cecclient.exe" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\cec-client.exe" />
			</Component>
			<Component Id="cmpc688a26d6eb14f5d9761c7f94d7b4ffe" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_cec.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\cec.dll" />
			</Component>
			<Component Id="cmpc94819b1e7f04ff79c15f77c97ea7502" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_install.ps1" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\install.ps1" />
			</Component>
			<Component Id="cmp3dae1982b3fb4f92b6ae118166be3f2e" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_Lib.Core.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\Lib.Core.dll" />
			</Component>
			<Component Id="cmpeb80bf9b7f7f4db8af4dff02398e134b" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_Lib.Win32.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\Lib.Win32.dll" />
			</Component>
			<Component Id="cmpea999eefc518461f9b95b2ba3de6fe7a" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_LICENCE.rtf" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\LICENCE.rtf" />
			</Component>
			<Component Id="cmp32082d06d89f4b9e829f2c778e4d5558" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_logo.ico" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\logo.ico" />
			</Component>
			<Component Id="cmp6008c9de0ea8409c84bdce9bcac0e85b" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_Microsoft.Win32.SystemEvents.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\Microsoft.Win32.SystemEvents.dll" />
			</Component>
			<Component Id="cmp23940ab4722e4cbbbbafadf72fd90f39" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_NAudio.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\NAudio.dll" />
			</Component>
			<Component Id="cmp8f82d2e61fff4fb88269b4b3689e22d1" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_Newtonsoft.Json.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\Newtonsoft.Json.dll" />
			</Component>
			<Component Id="cmp2ccf3f419292465e8e9dd681dff486eb" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_SharpDX.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\SharpDX.dll" />
			</Component>
			<Component Id="cmp677266c9108949f28e3d4f6471cdd451" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_SharpDX.XInput.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\SharpDX.XInput.dll" />
			</Component>
			<Component Id="cmp445ea4acbeb642789f723b929f414d42" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_SwitchNSHDMI.ps1" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\Switch-NS-HDMI.ps1" />
			</Component>
			<Component Id="cmpf562d104ee6f47a1ac3609df56af7ee8" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_SwitchPCHDMI.ps1" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\Switch-PC-HDMI.ps1" />
			</Component>
			<Component Id="cmp67152980600340f2871c14d12fd36b8e" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_System.Configuration.ConfigurationManager.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\System.Configuration.ConfigurationManager.dll" />
			</Component>
			<Component Id="cmp33690977901d459ba973e3d9788ee47d" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_System.Diagnostics.EventLog.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\System.Diagnostics.EventLog.dll" />
			</Component>
			<Component Id="cmp8675e649bfe04598803c372e9cfe4f29" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_System.Drawing.Common.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\System.Drawing.Common.dll" />
			</Component>
			<Component Id="cmp5629d028f764442bb22a55d88480fee3" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_System.Resources.Extensions.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\System.Resources.Extensions.dll" />
			</Component>
			<Component Id="cmp0e582fe6a2bc4db48099dbff805aa975" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_System.Security.Cryptography.ProtectedData.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\System.Security.Cryptography.ProtectedData.dll" />
			</Component>
			<Component Id="cmp7e791012973c4e0a94378854b5746a94" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_System.Security.Permissions.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\System.Security.Permissions.dll" />
			</Component>
			<Component Id="cmpb6f8ac37d1fc4b2d8a7ed4df34af8189" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_System.ServiceProcess.ServiceController.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\System.ServiceProcess.ServiceController.dll" />
			</Component>
			<Component Id="cmp317a1ac930db4ee6b9e0209ea26e0c37" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_System.Windows.Extensions.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\System.Windows.Extensions.dll" />
			</Component>
			<Component Id="cmpc4e7d93e20b14d7bbb07601797af9d68" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_uninstall.ps1" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\uninstall.ps1" />
			</Component>
			<Component Id="cmp63ba8489b5d946418a1641d30c34e875" Directory="INSTALLFOLDER" Guid="*">
				<File Id="Artifacts_WindowsInput.dll" KeyPath="yes" Source="$(var.ProjectDir)Artifacts\WindowsInput.dll" />
			</Component>

    </ComponentGroup>
  </Fragment>
</Wix>
