<?xml version="1.0" encoding="UTF-8"?>

<?ifndef ProductName ?>
<?define ProductName = "CHANGEME"?>
<?endif ?>

<?ifndef Version ?>
<?define Version = "1.0.0.0"?>
<?endif ?>

<?ifndef UpgradeCode ?>
<?define UpgradeCode = "00000001-0001-0001-0001-000000000001"?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Arezki Saba" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <!--<MajorUpgrade Schedule="afterInstallInitialize" AllowDowngrades="no" DowngradeErrorMessage="ok" AllowSameVersionUpgrades="yes" />-->
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <!--
    <WixVariable Id="WixUIBannerBmp" Value="Images\installer_top-banner.bmp" />
    <UIRef Id="WixUI_Custom" />
    -->
    <Feature Id="ProductFeature" Title="$(var.ProductName).Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <CustomAction Id="Install"
                  Property="InstallProperty"
                  Value="&quot;C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe&quot; -NoLogo -NonInteractive -InputFormat None -NoProfile -File &quot;$(var.ProjectDir)install.ps1&quot; -ProductName &quot;$(var.ProductName)&quot; -HandleStartup &quot;$(var.HandleStartup)&quot;"
                  Execute="immediate" />
    <CustomAction Id="InstallProperty"
									BinaryKey="WixCA"
									DllEntry="CAQuietExec64"
									Execute="deferred"
									Return="check"
									Impersonate="no" />

    <CustomAction Id="UninstallStartup"
                  Property="UninstallStartupProperty"
                  Value="&quot;C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe&quot; -NoLogo -NonInteractive -InputFormat None -NoProfile -File &quot;$(var.ProjectDir)uninstall.ps1&quot; -ProductName &quot;$(var.ProductName)&quot; -HandleStartup &quot;$(var.HandleStartup)&quot;"
                  Execute="immediate" />
    <CustomAction Id="UninstallStartupProperty"
									BinaryKey="WixCA"
									DllEntry="CAQuietExec64"
									Execute="deferred"
									Return="check"
									Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="Install" After="CostFinalize">NOT Installed</Custom>
      <Custom Action="InstallProperty" After="InstallFiles">NOT Installed</Custom>
      
      <Custom Action='UninstallStartup' Before='CostInitialize'>(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
      <Custom Action='UninstallStartupProperty' Before='RemoveFiles'>(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
    </InstallExecuteSequence>

    <!--
    <CustomAction Id="SayHello" BinaryKey="Lib.Wix.Setup.CustomAction.CA" DllEntry="DeferredHello" Execute="deferred" Return="check" Impersonate="no" />
    <Property Id="SayHello" Value="Name=World" />
    <Binary Id="Lib.Wix.Setup.CustomAction.CA" SourceFile="..\Lib.Wix.Setup.CustomAction\bin\Debug\Lib.Wix.Setup.CustomAction.CA.dll" />
    <InstallExecuteSequence>
      <Custom Action="SayHello" After="InstallFiles" />
    </InstallExecuteSequence>
    -->
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      			<Component Id="gmvQXPrxMGofVbd" Guid="5fa0f693-5f2f-45ad-b230-8d62f928e634">
				<File Id="_Artifacts_BabylonTools.XMap.deps.json" Name="BabylonTools.XMap.deps.json" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\BabylonTools.XMap.deps.json"/>
			</Component>

			<Component Id="eLdYOPpQTjNXfHa" Guid="156510cf-55d0-4fae-bef0-ab18df2c69fa">
				<File Id="_Artifacts_BabylonTools.XMap.dll" Name="BabylonTools.XMap.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\BabylonTools.XMap.dll"/>
			</Component>

			<Component Id="AxqSOTstjDRoWFw" Guid="6f1be9cb-c41a-4be1-b81f-b8895f3d132b">
				<File Id="_Artifacts_BabylonTools.XMap.dll.config" Name="BabylonTools.XMap.dll.config" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\BabylonTools.XMap.dll.config"/>
			</Component>

			<Component Id="KJPlvYqSchFkfiC" Guid="57e516a5-3571-4fb6-930e-ab7668277471">
				<File Id="_Artifacts_BabylonTools.XMap.exe" Name="BabylonTools.XMap.exe" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\BabylonTools.XMap.exe"/>
			</Component>

			<Component Id="QTmMXSJZGexzkyg" Guid="eb7f08c2-6be3-42ac-ae1a-d7743323bc53">
				<File Id="_Artifacts_BabylonTools.XMap.pdb" Name="BabylonTools.XMap.pdb" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\BabylonTools.XMap.pdb"/>
			</Component>

			<Component Id="RLYHgNIqjTMyZwe" Guid="10f43ab9-76dd-4226-81f4-d7eb6e195ccd">
				<File Id="_Artifacts_BabylonTools.XMap.runtimeconfig.dev.json" Name="BabylonTools.XMap.runtimeconfig.dev.json" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\BabylonTools.XMap.runtimeconfig.dev.json"/>
			</Component>

			<Component Id="bOgYcIkvSJNmjqF" Guid="07da213b-e8b3-457c-97aa-b83b0be5b662">
				<File Id="_Artifacts_BabylonTools.XMap.runtimeconfig.json" Name="BabylonTools.XMap.runtimeconfig.json" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\BabylonTools.XMap.runtimeconfig.json"/>
			</Component>

			<Component Id="YNsLoEvyapfCKeX" Guid="d8671bf4-9163-4705-8153-bd65116c3707">
				<File Id="_Artifacts_Lib.Core.dll" Name="Lib.Core.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\Lib.Core.dll"/>
			</Component>

			<Component Id="uCfiZJpkoWMnXzF" Guid="eaddfb82-9e37-4e5d-a2b8-d14b3d3e679d">
				<File Id="_Artifacts_Lib.Win32.dll" Name="Lib.Win32.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\Lib.Win32.dll"/>
			</Component>

			<Component Id="EaODxCvBFidqRLZ" Guid="f4374f17-3845-4a36-9173-7295ad21df00">
				<File Id="_Artifacts_Microsoft.Win32.SystemEvents.dll" Name="Microsoft.Win32.SystemEvents.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\Microsoft.Win32.SystemEvents.dll"/>
			</Component>

			<Component Id="HWTfazxYileqMvs" Guid="dc095dc1-73d1-4b76-854e-10563243090e">
				<File Id="_Artifacts_NAudio.dll" Name="NAudio.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\NAudio.dll"/>
			</Component>

			<Component Id="FJhZgmovMxfKdtn" Guid="db8f0857-8009-4e00-b23b-ee8fc0bf6221">
				<File Id="_Artifacts_Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\Newtonsoft.Json.dll"/>
			</Component>

			<Component Id="tlYGyowICmkeusp" Guid="87b811db-5208-46cf-ab28-2ccd84014fbb">
				<File Id="_Artifacts_SharpDX.dll" Name="SharpDX.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\SharpDX.dll"/>
			</Component>

			<Component Id="xUuBroDXFQqgSZb" Guid="918e4ca7-6b01-41f1-989f-9aae3c21cb81">
				<File Id="_Artifacts_SharpDX.XInput.dll" Name="SharpDX.XInput.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\SharpDX.XInput.dll"/>
			</Component>

			<Component Id="lwVyzAZeTKSBOhM" Guid="c4c0f3f5-f8ff-4c0f-b752-95d0c013addf">
				<File Id="_Artifacts_System.Configuration.ConfigurationManager.dll" Name="System.Configuration.ConfigurationManager.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\System.Configuration.ConfigurationManager.dll"/>
			</Component>

			<Component Id="fEWgZVpKDHswUIe" Guid="e91731fc-43c3-449b-8507-e37d6995deba">
				<File Id="_Artifacts_System.Diagnostics.EventLog.dll" Name="System.Diagnostics.EventLog.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\System.Diagnostics.EventLog.dll"/>
			</Component>

			<Component Id="YhNtSpFMxKOavHq" Guid="13611a31-7e11-4a0e-b67b-b331f86738cc">
				<File Id="_Artifacts_System.Drawing.Common.dll" Name="System.Drawing.Common.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\System.Drawing.Common.dll"/>
			</Component>

			<Component Id="OHykasDdnTGouEA" Guid="94ba4bf9-cf90-471c-97c7-7cc63dcdaa94">
				<File Id="_Artifacts_System.Resources.Extensions.dll" Name="System.Resources.Extensions.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\System.Resources.Extensions.dll"/>
			</Component>

			<Component Id="DvXPSbdoexYfAcN" Guid="e2127792-d868-4f2e-9a93-b623164260a4">
				<File Id="_Artifacts_System.Security.Cryptography.ProtectedData.dll" Name="System.Security.Cryptography.ProtectedData.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\System.Security.Cryptography.ProtectedData.dll"/>
			</Component>

			<Component Id="txkZVWOXyCflhYw" Guid="90abf9b7-45b5-45c3-97a7-fc522aec964a">
				<File Id="_Artifacts_System.Security.Permissions.dll" Name="System.Security.Permissions.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\System.Security.Permissions.dll"/>
			</Component>

			<Component Id="sjNzdKpUDTMHRVZ" Guid="da9c4cb0-b886-44ef-b5d2-f1d017353d83">
				<File Id="_Artifacts_System.ServiceProcess.ServiceController.dll" Name="System.ServiceProcess.ServiceController.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\System.ServiceProcess.ServiceController.dll"/>
			</Component>

			<Component Id="KslwZyRfquGEbrm" Guid="c5d8d9f9-8801-4f44-97c6-c4652686bfcc">
				<File Id="_Artifacts_System.Windows.Extensions.dll" Name="System.Windows.Extensions.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\System.Windows.Extensions.dll"/>
			</Component>


    </ComponentGroup>
  </Fragment>
</Wix>
