<?xml version="1.0" encoding="UTF-8"?>

<?ifndef ProductName ?>
<?define ProductName = "CHANGEME"?>
<?endif ?>

<?ifndef Version ?>
<?define Version = "1.0.0.0"?>
<?endif ?>

<?ifndef UpgradeCode ?>
<?define UpgradeCode = "00000001-0001-0001-0001-000000000001"?>
<?endif ?>

<?ifndef HandleStartup ?>
<?define HandleStartup = "False"?>
<?endif ?>

<?ifndef InstallFolder ?>
<?define InstallFolder = "C:\Program Files (x86)\Babylon"?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Arezki Saba" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <!--<MajorUpgrade Schedule="afterInstallInitialize" AllowDowngrades="no" DowngradeErrorMessage="ok" AllowSameVersionUpgrades="yes" />-->
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <!--
    <WixVariable Id="WixUIBannerBmp" Value="Images\installer_top-banner.bmp" />
    <UIRef Id="WixUI_Custom" />
    -->
    <Feature Id="ProductFeature" Title="$(var.ProductName).Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    
    <CustomAction Id="Install"
                  Property="InstallProperty"
                  Value="&quot;C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe&quot; -NoLogo -NonInteractive -InputFormat None -NoProfile -File &quot;$(var.InstallFolder)\$(var.ProductName)\install.ps1&quot; -InstallFolder &quot;$(var.InstallFolder)\$(var.ProductName)&quot; -ProductName &quot;$(var.ProductName)&quot; -HandleStartup &quot;$(var.HandleStartup)&quot;"
                  Execute="immediate" />
    <CustomAction Id="InstallProperty"
									BinaryKey="WixCA"
									DllEntry="CAQuietExec64"
									Execute="deferred"
									Return="check"
									Impersonate="no" />

    <CustomAction Id="Uninstall"
                  Property="UninstallProperty"
                  Value="&quot;C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe&quot; -NoLogo -NonInteractive -InputFormat None -NoProfile -File &quot;$(var.InstallFolder)\$(var.ProductName)\uninstall.ps1&quot; -ProductName &quot;$(var.ProductName)&quot; -HandleStartup &quot;$(var.HandleStartup)&quot;"
                  Execute="immediate" />
    <CustomAction Id="UninstallProperty"
									BinaryKey="WixCA"
									DllEntry="CAQuietExec64"
									Execute="deferred"
									Return="check"
									Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="Install" After="CostFinalize">NOT Installed</Custom>
      <Custom Action="InstallProperty" After="InstallFiles">NOT Installed</Custom>
      <Custom Action="Uninstall" Before="CostFinalize">Installed</Custom>
      <Custom Action="UninstallProperty" Before="RemoveFiles">Installed</Custom>
    </InstallExecuteSequence>
    
    <!--
    <CustomAction Id="SayHello" BinaryKey="Lib.Wix.Setup.CustomAction.CA" DllEntry="DeferredHello" Execute="deferred" Return="check" Impersonate="no" />
    <Property Id="SayHello" Value="Name=World" />
    <Binary Id="Lib.Wix.Setup.CustomAction.CA" SourceFile="..\Lib.Wix.Setup.CustomAction\bin\Debug\Lib.Wix.Setup.CustomAction.CA.dll" />
    <InstallExecuteSequence>
      <Custom Action="SayHello" After="InstallFiles" />
    </InstallExecuteSequence>
    -->
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="BabylonFolder" Name="Babylon">
          <Directory Id="ProductFolder" Name="$(var.ProductName)" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="ProductFolder">

      ##TOREPLACE##
    </ComponentGroup>
  </Fragment>
</Wix>
