<?xml version="1.0" encoding="UTF-8"?>

<?ifndef ProductManufacturer ?>
<?define ProductManufacturer = "Arezki Saba"?>
<?endif ?>

<?ifndef ProductName ?>
<?define ProductName = "CHANGEME"?>
<?endif ?>

<?ifndef Version ?>
<?define Version = "1.0.0.0"?>
<?endif ?>

<?ifndef UpgradeCode ?>
<?define UpgradeCode = "00000001-0001-0001-0001-000000000001"?>
<?endif ?>

<?ifndef HandleStartup ?>
<?define HandleStartup = "False"?>
<?endif ?>

<?ifndef InstallFolder ?>
<?define InstallFolder = "C:\Program Files (x86)\$(var.ProductManufacturer)"?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.ProductManufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Manufacturer="$(var.ProductManufacturer)" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    
    <!--<MajorUpgrade Schedule="afterInstallInitialize" AllowDowngrades="no" DowngradeErrorMessage="ok" AllowSameVersionUpgrades="yes" />-->
    <!--<Media Id="1" Cabinet="$(var.ProductName).cab" EmbedCab="yes" />-->
    <!--<Icon Id="Logo.ico" SourceFile="$(var.SampleApplication.TargetDir)\logo.ico" />-->
    <!--<Property Id="ARPPRODUCTICON" Value="Logo.ico" />-->
    <!--<Icon Id="Logo.ico" SourceFile="$(var.SampleApplication.TargetDir)\logo.ico" />-->
    
    <Icon Id="Logo.ico" SourceFile="$(var.ProjectDir)\logo.ico" />
    <Property Id="ARPPRODUCTICON" Value="Logo.ico" />

    <CustomAction Id="Install"
                  Property="InstallProperty"
                  Value="&quot;C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe&quot; -NoLogo -NonInteractive -InputFormat None -NoProfile -File &quot;$(var.InstallFolder)\$(var.ProductName)\install.ps1&quot; -InstallFolder &quot;$(var.InstallFolder)\$(var.ProductName)&quot; -ProductName &quot;$(var.ProductName)&quot; -HandleStartup &quot;$(var.HandleStartup)&quot;"
                  Execute="immediate" />
    <CustomAction Id="InstallProperty"
									BinaryKey="WixCA"
									DllEntry="CAQuietExec64"
									Execute="deferred"
									Return="check"
									Impersonate="no" />
    <CustomAction Id="Uninstall"
                  Property="UninstallProperty"
                  Value="&quot;C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe&quot; -NoLogo -NonInteractive -InputFormat None -NoProfile -File &quot;$(var.InstallFolder)\$(var.ProductName)\uninstall.ps1&quot; -ProductName &quot;$(var.ProductName)&quot; -HandleStartup &quot;$(var.HandleStartup)&quot;"
                  Execute="immediate" />
    <CustomAction Id="UninstallProperty"
									BinaryKey="WixCA"
									DllEntry="CAQuietExec64"
									Execute="deferred"
									Return="check"
									Impersonate="no" />
    <InstallExecuteSequence>
      <Custom Action="Install" After="CostFinalize">NOT Installed</Custom>
      <Custom Action="InstallProperty" After="InstallFiles">NOT Installed</Custom>
      <Custom Action="Uninstall" Before="CostFinalize">Installed</Custom>
      <Custom Action="UninstallProperty" Before="RemoveFiles">Installed</Custom>
    </InstallExecuteSequence>

    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentGroupRef Id="ComponentGroupDesktopShortcut" />
    </Feature>
  </Product>

  <!--Directories-->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ROOTDIRECTORY" Name="$(var.ProductManufacturer)">
          <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)">
            <Directory Id="DesktopFolder" Name="DesktopFolder" />
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)"/>
      </Directory>
    </Directory>
  </Fragment>

  <!--All Files-->
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

      ##TOREPLACE##
    </ComponentGroup>
  </Fragment>

  <!--Start menu shortcut-->
  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.ProductName)" Description="$(var.ProductName)" Icon="Logo.ico" Target="[#Artifacts_$(var.ProductName).exe]" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.ProductManufacturer)\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <!--Desktop shortcut-->
  <Fragment>
    <ComponentGroup Id="ComponentGroupDesktopShortcut">
      <Component Id="ComponentDesktopShortcut" Guid="*" Directory="DesktopFolder" >
        <Shortcut Id="AppDesktopShortcut" Name="$(var.ProductName)" Description="$(var.ProductName)" Icon="Logo.ico" Target="[#Artifacts_$(var.ProductName).exe]" WorkingDirectory="INSTALLFOLDER" Directory="DesktopFolder" />
        <RemoveFolder Id="DesktopFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\$(var.ProductManufacturer)\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>
