<?xml version="1.0" encoding="UTF-8"?>

<?ifndef ProductName ?>
<?define ProductName = "CHANGEME"?>
<?endif ?>

<?ifndef Version ?>
<?define Version = "1.0.0.0"?>
<?endif ?>

<?ifndef UpgradeCode ?>
<?define UpgradeCode = "00000001-0001-0001-0001-000000000001"?>
<?endif ?>

<?ifndef HandleStartup ?>
<?define HandleStartup = "False"?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Arezki Saba" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <!--<MajorUpgrade Schedule="afterInstallInitialize" AllowDowngrades="no" DowngradeErrorMessage="ok" AllowSameVersionUpgrades="yes" />-->
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <!--
    <WixVariable Id="WixUIBannerBmp" Value="Images\installer_top-banner.bmp" />
    <UIRef Id="WixUI_Custom" />
    -->
    <Feature Id="ProductFeature" Title="$(var.ProductName).Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    
    <CustomAction Id="Install"
                  Property="InstallProperty"
                  Value="&quot;C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe&quot; -NoLogo -NonInteractive -InputFormat None -NoProfile -File &quot;[INSTALLFOLDER]install.ps1&quot; -ProductName &quot;$(var.ProductName)&quot; -HandleStartup &quot;$(var.HandleStartup)&quot;"
                  Execute="immediate" />
    <CustomAction Id="InstallProperty"
									BinaryKey="WixCA"
									DllEntry="CAQuietExec64"
									Execute="deferred"
									Return="check"
									Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="Install" After="CostFinalize">NOT Installed</Custom>
      <Custom Action="InstallProperty" After="InstallFiles">NOT Installed</Custom>
    </InstallExecuteSequence>
    
    <!--
    <CustomAction Id="SayHello" BinaryKey="Lib.Wix.Setup.CustomAction.CA" DllEntry="DeferredHello" Execute="deferred" Return="check" Impersonate="no" />
    <Property Id="SayHello" Value="Name=World" />
    <Binary Id="Lib.Wix.Setup.CustomAction.CA" SourceFile="..\Lib.Wix.Setup.CustomAction\bin\Debug\Lib.Wix.Setup.CustomAction.CA.dll" />
    <InstallExecuteSequence>
      <Custom Action="SayHello" After="InstallFiles" />
    </InstallExecuteSequence>
    -->
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

      			<Component Id="eGALDvWXSrwdFoq" Guid="40c3f310-1bc4-47e8-8444-f4f08bd45ecd">
				<File Id="_Artifacts_BabylonTools.XMap.deps.json" Name="BabylonTools.XMap.deps.json" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\BabylonTools.XMap.deps.json"/>
			</Component>

			<Component Id="WtnFUzBYVaCxpLs" Guid="43dfc942-a711-4468-af33-66539895a7da">
				<File Id="_Artifacts_BabylonTools.XMap.dll" Name="BabylonTools.XMap.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\BabylonTools.XMap.dll"/>
			</Component>

			<Component Id="pUtgCqadOMPijRw" Guid="dadd3e30-ee46-4d73-afeb-d2f838834720">
				<File Id="_Artifacts_BabylonTools.XMap.dll.config" Name="BabylonTools.XMap.dll.config" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\BabylonTools.XMap.dll.config"/>
			</Component>

			<Component Id="MRGXnFaQdhUbtDw" Guid="6d8ba0d0-cee2-4898-a589-a4b04f58ad34">
				<File Id="_Artifacts_BabylonTools.XMap.exe" Name="BabylonTools.XMap.exe" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\BabylonTools.XMap.exe"/>
			</Component>

			<Component Id="XJvOUwodRkDPCmx" Guid="6bc3013c-cd33-445f-84bd-8f35c4e78b4f">
				<File Id="_Artifacts_BabylonTools.XMap.pdb" Name="BabylonTools.XMap.pdb" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\BabylonTools.XMap.pdb"/>
			</Component>

			<Component Id="NJDaMKSVgnHsAPZ" Guid="51aaedad-2bea-457b-943d-e5bff87a348d">
				<File Id="_Artifacts_BabylonTools.XMap.runtimeconfig.dev.json" Name="BabylonTools.XMap.runtimeconfig.dev.json" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\BabylonTools.XMap.runtimeconfig.dev.json"/>
			</Component>

			<Component Id="tDHThyEfdbizLeG" Guid="1faafda4-8437-4ae8-ae0b-9da99577aa8a">
				<File Id="_Artifacts_BabylonTools.XMap.runtimeconfig.json" Name="BabylonTools.XMap.runtimeconfig.json" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\BabylonTools.XMap.runtimeconfig.json"/>
			</Component>

			<Component Id="dQKTNrsSWpRDPMi" Guid="949a976a-3ab7-4ccd-aeb3-f36edd10a0db">
				<File Id="_Artifacts_DROP_PACKAGE_HERE.txt" Name="DROP_PACKAGE_HERE.txt" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\DROP_PACKAGE_HERE.txt"/>
			</Component>

			<Component Id="vQPlcCYXHMpijuB" Guid="7e9568b5-3286-4ab6-9a10-9a8ad9b953ca">
				<File Id="_Artifacts_install.ps1" Name="install.ps1" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\install.ps1"/>
			</Component>

			<Component Id="FSyNTABGtXchgzH" Guid="3e316747-0cd1-49d7-9a49-5da4180cd8cc">
				<File Id="_Artifacts_Lib.Core.dll" Name="Lib.Core.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\Lib.Core.dll"/>
			</Component>

			<Component Id="CXfrFUqtPmJgseI" Guid="06ba78d4-6801-4c99-9e61-d50ab1eaa2c3">
				<File Id="_Artifacts_Lib.Win32.dll" Name="Lib.Win32.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\Lib.Win32.dll"/>
			</Component>

			<Component Id="JljtUHroTInMFep" Guid="f4757e76-a21c-4510-a335-3cfeaa8bb714">
				<File Id="_Artifacts_Microsoft.Win32.SystemEvents.dll" Name="Microsoft.Win32.SystemEvents.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\Microsoft.Win32.SystemEvents.dll"/>
			</Component>

			<Component Id="NJcZlToBKLpEUSW" Guid="15debb98-ad27-431d-a2a0-461436e5fd31">
				<File Id="_Artifacts_NAudio.dll" Name="NAudio.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\NAudio.dll"/>
			</Component>

			<Component Id="aKnzSEwpRicTyJs" Guid="446f6435-11c2-4f84-87bf-d4a3cd579bf9">
				<File Id="_Artifacts_Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\Newtonsoft.Json.dll"/>
			</Component>

			<Component Id="kSvDKZQbdlcfzpa" Guid="3ffedb16-b5aa-4fe6-9896-f928eed587d4">
				<File Id="_Artifacts_README.txt" Name="README.txt" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\README.txt"/>
			</Component>

			<Component Id="siMaCIgfpJVzudT" Guid="5b525326-fbe7-4b53-932e-1e8c93ad6c83">
				<File Id="_Artifacts_SharpDX.dll" Name="SharpDX.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\SharpDX.dll"/>
			</Component>

			<Component Id="fnHXzPCpFVidJAq" Guid="dcf3f89a-e645-4a26-9da0-5ab10fafa981">
				<File Id="_Artifacts_SharpDX.XInput.dll" Name="SharpDX.XInput.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\SharpDX.XInput.dll"/>
			</Component>

			<Component Id="ETUmXkfQuKOSado" Guid="3a75c62b-5525-47c4-86a0-b5c1328a8eb7">
				<File Id="_Artifacts_System.Configuration.ConfigurationManager.dll" Name="System.Configuration.ConfigurationManager.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\System.Configuration.ConfigurationManager.dll"/>
			</Component>

			<Component Id="wJIOxUFdSfszYbH" Guid="beefcb1f-5269-42d0-9574-81aa117a959f">
				<File Id="_Artifacts_System.Diagnostics.EventLog.dll" Name="System.Diagnostics.EventLog.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\System.Diagnostics.EventLog.dll"/>
			</Component>

			<Component Id="AKHosjYLyPCXnSz" Guid="5fb543e2-96c3-4983-9b39-e4fc5d098efc">
				<File Id="_Artifacts_System.Drawing.Common.dll" Name="System.Drawing.Common.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\System.Drawing.Common.dll"/>
			</Component>

			<Component Id="jeELmBsZVWcFRvG" Guid="d8f3a486-3046-4f00-aa1c-60403636af97">
				<File Id="_Artifacts_System.Resources.Extensions.dll" Name="System.Resources.Extensions.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\System.Resources.Extensions.dll"/>
			</Component>

			<Component Id="nrODNhHYBWVQzoF" Guid="20a7b501-a82a-45f6-91b1-e529017f55b5">
				<File Id="_Artifacts_System.Security.Cryptography.ProtectedData.dll" Name="System.Security.Cryptography.ProtectedData.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\System.Security.Cryptography.ProtectedData.dll"/>
			</Component>

			<Component Id="ayjWXgEQvIhLVmU" Guid="84723d94-059b-4007-8969-ac7d2de0f035">
				<File Id="_Artifacts_System.Security.Permissions.dll" Name="System.Security.Permissions.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\System.Security.Permissions.dll"/>
			</Component>

			<Component Id="bapwyEBQtJWmxPY" Guid="5a4e71d7-7f3c-4d60-8c51-32ab34593124">
				<File Id="_Artifacts_System.ServiceProcess.ServiceController.dll" Name="System.ServiceProcess.ServiceController.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\System.ServiceProcess.ServiceController.dll"/>
			</Component>

			<Component Id="ZxKQFRecYdaCLWP" Guid="22ebde3c-918d-4e50-baff-ce8145bf75cb">
				<File Id="_Artifacts_System.Windows.Extensions.dll" Name="System.Windows.Extensions.dll" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\System.Windows.Extensions.dll"/>
			</Component>

			<Component Id="AdfxJKkIHcGljne" Guid="9918ae14-6ef0-486b-b1a5-2b793274cb37">
				<File Id="_Artifacts_uninstall.ps1" Name="uninstall.ps1" Source="C:\src\git\Lib\Lib\Lib.Wix\Lib.Wix.Setup\Artifacts\uninstall.ps1"/>
			</Component>


    </ComponentGroup>
  </Fragment>
</Wix>
